@model ShopTARgv24.Models.Weather.AccuWeatherViewModel


<div class="container">
    <h2>Foreacast for the selected city</h2>
    <h2>@Html.DisplayFor(model => model.TempMetricValueUnit)</h2>
    <h2>@Html.DisplayFor(model => model.Text)</h2>
    <h2>@Html.DisplayFor(model => model.LocalObservationDateTime)</h2>
</div>